{% extends 'base/base.html' %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">همه چیز درباره ما</h1>
            <p class="lead fw-normal text-white-50 mb-0">بیشتر بدون</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify"><br><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet corporis deserunt ipsum maiores modi
                nesciunt tempora. Accusamus consequuntur nobis obcaecati provident quae quaerat sunt vel velit
                voluptates voluptatum. Aperiam at consequatur consequuntur corporis cupiditate debitis delectus, deserunt
                dignissimos ea earum enim facere ipsum iure laborum magni nostrum obcaecati officia placeat provident
                ratione. Blanditiis cumque, eum. Debitis illum laboriosam vitae!
                </p><br><br>
            </div>
        </center>
    </div>
</div>
{% endblock %}