{% extends 'base/base.html' %}
{% load humanize %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">دسته بندی محصولات</h1>
            <p class="lead fw-normal text-white-50 mb-0">همه دسته بندی ها</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br>
                {% for cat in category %}
                    <a class="dropdown-item" href="{% url 'category' cat.name %}"><h4>{{ cat.name }}</h4></a><br>
                {% endfor %}

            </div>
        </center>
    </div>
</div>
{% endblock %}